In [1]:
import pandas as pd

C:\Users\asus\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
string_name=pd.Series(["priyesh mishra","shivam singh","akash pandey","vikas singh","sanjeet gupta"])
string_prof=pd.Series(("Fresher","M.Tech Nit","Quality Assurance","Software Engineering","Backend Developer"))
string_dept=pd.Series(["cse",'it','ee','ece','mechanical'])

In [4]:
df=pd.DataFrame()

In [5]:
df['col1']=string_name
df['col2']=string_prof
df['col3']=string_dept

In [6]:
df

             col1                  col2        col3
0  priyesh mishra               Fresher         cse
1    shivam singh            M.Tech Nit          it
2    akash pandey     Quality Assurance          ee
3     vikas singh  Software Engineering         ece
4   sanjeet gupta     Backend Developer  mechanical

##### COLUMNS

In [14]:
#df.col2.str.lower()
df['col2'].str.lower()

0                 fresher
1              m.tech nit
2       quality assurance
3    software engineering
4       backend developer
Name: col2, dtype: object

In [16]:
df['col1'].str.upper()

0    PRIYESH MISHRA
1      SHIVAM SINGH
2      AKASH PANDEY
3       VIKAS SINGH
4     SANJEET GUPTA
Name: col1, dtype: object

In [32]:
df['col1'].str.isupper()

0    False
1    False
2    False
3    False
4    False
Name: col1, dtype: bool

In [33]:
df['col3'].str.islower()

0    True
1    True
2    True
3    True
4    True
Name: col3, dtype: bool

In [39]:
df['col1'].str.capitalize()

0    Priyesh mishra
1      Shivam singh
2      Akash pandey
3       Vikas singh
4     Sanjeet gupta
Name: col1, dtype: object

In [42]:
df['col1'].str.title()

0    Priyesh Mishra
1      Shivam Singh
2      Akash Pandey
3       Vikas Singh
4     Sanjeet Gupta
Name: col1, dtype: object

In [46]:
df['col1'].str.split()

0    [priyesh, mishra]
1      [shivam, singh]
2      [akash, pandey]
3       [vikas, singh]
4     [sanjeet, gupta]
Name: col1, dtype: object

In [47]:
df['col3'].str.split()

0           [cse]
1            [it]
2            [ee]
3           [ece]
4    [mechanical]
Name: col3, dtype: object

In [49]:
df['col1'].str.endswith('gh')

0    False
1     True
2    False
3     True
4    False
Name: col1, dtype: bool

In [50]:
df['col1'].str.startswith('vi')

0    False
1    False
2    False
3     True
4    False
Name: col1, dtype: bool

In [51]:
df['col1'].str.find('pan')   #this positon 'p' start in given columnn

0   -1
1   -1
2    6
3   -1
4   -1
Name: col1, dtype: int64

In [56]:
df['col1'].str.strip()   #remove leading and trailing Spaces

0    priyesh mishra
1      shivam singh
2      akash pandey
3       vikas singh
4     sanjeet gupta
Name: col1, dtype: object

In [57]:
df['col1'].str.lstrip()

0    priyesh mishra
1      shivam singh
2      akash pandey
3       vikas singh
4     sanjeet gupta
Name: col1, dtype: object

In [58]:
df['col1'].str.rstrip()

0    priyesh mishra
1      shivam singh
2      akash pandey
3       vikas singh
4     sanjeet gupta
Name: col1, dtype: object

In [59]:
df['col1'].str.replace("gupta","mishra")

0    priyesh mishra
1      shivam singh
2      akash pandey
3       vikas singh
4    sanjeet mishra
Name: col1, dtype: object

In [67]:
df['col2'].str.contains("Quality")

0    False
1    False
2     True
3    False
4    False
Name: col2, dtype: bool

In [68]:
df['col1'].str.len()

0    14
1    12
2    12
3    11
4    13
Name: col1, dtype: int64

In [71]:
df['col1'].str.cat(sep="-,")

'priyesh mishra-,shivam singh-,akash pandey-,vikas singh-,sanjeet gupta'

In [74]:
df['col1'].str.pad(width=30, side='left', fillchar='*')

0    ****************priyesh mishra
1    ******************shivam singh
2    ******************akash pandey
3    *******************vikas singh
4    *****************sanjeet gupta
Name: col1, dtype: object

In [75]:
df['col1'].str.pad(width=20, side='right', fillchar='$')

0    priyesh mishra$$$$$$
1    shivam singh$$$$$$$$
2    akash pandey$$$$$$$$
3    vikas singh$$$$$$$$$
4    sanjeet gupta$$$$$$$
Name: col1, dtype: object

In [77]:
df['col1'].str.zfill(15)  # 15 is the width

0    0priyesh mishra
1    000shivam singh
2    000akash pandey
3    0000vikas singh
4    00sanjeet gupta
Name: col1, dtype: object

In [85]:
df['col1'].str.extract(r'(\w+)')

         0
0  priyesh
1   shivam
2    akash
3    vikas
4  sanjeet

In [90]:
df['col1'].str.extract(r'(\d+)')

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [ ]:
df['col1'].str.count(r'')

##### Rows

In [10]:
df.loc[2].str.lower()

col1         akash pandey
col2    quality assurance
col3                   ee
Name: 2, dtype: object

In [17]:
df.loc[4].str.upper()

col1        SANJEET GUPTA
col2    BACKEND DEVELOPER
col3           MECHANICAL
Name: 4, dtype: object

In [34]:
df.loc[1].str.islower()

col1     True
col2    False
col3     True
Name: 1, dtype: bool

In [40]:
df.loc[3].str.capitalize()

col1             Vikas singh
col2    Software engineering
col3                     Ece
Name: 3, dtype: object

In [66]:
df.loc[3].str.replace("Software","Data")

col1         vikas singh
col2    Data Engineering
col3                 ece
Name: 3, dtype: object

In [44]:
df.loc[0].str.title()

col1    Priyesh Mishra
col2           Fresher
col3               Cse
Name: 0, dtype: object

In [82]:
df.loc[0].str.join("-")

col1    p-r-i-y-e-s-h- -m-i-s-h-r-a
col2                  F-r-e-s-h-e-r
col3                          c-s-e
Name: 0, dtype: object

##### Particular value

In [26]:
df.loc[0,'col3'].upper()

'CSE'

In [29]:
df.loc[2].col1.upper()

'AKASH PANDEY'

In [36]:
df.loc[3,'col3'].islower()

True

In [37]:
df.loc[2,'col3'].isupper()

False

In [41]:
df.loc[0,'col1'].capitalize()

'Priyesh mishra'

In [45]:
df.loc[1,'col1'].capitalize()

'Shivam singh'

In [52]:
df.loc[1,'col1'].split()

['shivam', 'singh']

In [53]:
df.loc[1,'col2'].endswith('it')

True

In [54]:
df.loc[2,'col2'].startswith('qua')

False

In [55]:
df.loc[1,'col1'].find('ng')

9

In [65]:
df.loc[4,'col2'].replace("Backend","Frontend")

'Frontend Developer'